<footer class="bg-dark  text-white">
    <div class="container">
        <div class="row">
            <div class="col-3 col-lg-4 col-xl-3 mx-auto my-4 mb-4">
                <h6 class="text-uppercase fw-bold mb-4">Usefal Links</h6>
                <p>
                    <a href="#">Link</a>
                </p>
                <p>
                    <a href="#">Link</a>
                </p>
                <p>
                    <a href="#">Link</a>
                </p>
                <p>
                    <a href="#">Link</a>
                </p>
            </div>
            <div class="col-3 col-lg-4 col-xl-3 mx-auto my-4 mb-4">
                <h6 class="text-uppercase fw-bold mb-4">About Us</h6>
                <p>
                    <a href="#">About Car City</a>
                </p>
                <p>
                    <a href="#">Join Us</a>
                </p>
            </div>
            <div class="col-3 col-lg-4 col-xl-3 mx-auto my-4 mb-4">
                <h6 class="text-uppercase fw-bold mb-4">Contact Us</h6>
                <form>
                    <input class="form-control my-2" type="email" name="email" id="" placeholder="Your Email">
                    <textarea class="form-control my-2" name="Message" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
                    <input type="submit" class="form-control" value="Send">

                </form>
            </div>
            <div class="col-3 col-lg-4 col-xl-3 mx-auto my-4 mb-4">
                <h6 class="text-uppercase fw-bold mb-4">Follow Us</h6>
                <div>
                    Social Media Here
                </div>
            </div>
        </div>
    </div>
</footer>