@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.headtext {
    font-size: large;
    font-family: "Montserrat", sans-serif;
    ;
}

.text {
    font-family: "Montserrat", sans-serif;
    font-size: small;
}