<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand  me-5" href="#"><span class="letter-brand">C</span>ar  <span class="letter-brand ">C</span>ity</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/explore/all">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/buy">Buy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/sell">Sell</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/rent">Rent</a>
                </li>
                <li class="nav-item d-flex">
                    <a class="nav-link" routerLinkActive="active" routerLink="/rentmycar">Rent My Car
                    </a>
                </li>

            </ul>
        </div>
        <div class="ml-auto  right-item">
            <ul class="navbar-nav">

                <li class="nav-item d-flex">
                    <a class="nav-link" href="#">Login
                </a>
                </li>
            </ul>
        </div>
    </div>

</nav>