<p class="text-center py-4">Why choose us ?</p>
<section id="sec-2">
 <div class="container">
    <div class="row">
        <article class="col-lg col-md-6">
            <aside>
              <div>
                  <i class="fa fa-car"></i>
              </div>
              <div class="details">
                  <h2>640</h2>
                  <h5>Total <span> Cars</span></h5>
               </div>
            </aside>
        </article>
        <article class="col-lg col-md-6">
            <aside>
              <div>
                 <i class="fa fa-user"></i>
              </div>
              <div class="details">
                  <h2>20</h2>
                  <h5>Happy <span> Clients</span></h5>
               </div>
            </aside>
        </article>
        <article class="col-lg col-md-6">
            <aside>
              <div>
                 <i class="fa fa-comments"></i>
              </div>
              <div class="details">
                  <h2>20</h2>
                  <h5>Dealer <span> Reviews</span></h5>
              </div>
            </aside>
        </article>
    </div>
 </div>
</section>