.
<div class="container">
    <ul ngbNav #nav="ngbNav" class="nav-pills">
        <li ngbNavItem>
            <a btn-outline-primary ngbNavLink>Price</a>
            <ng-template ngbNavContent>
                <div class="form-inline m-2 mt-5">
                    <input class="form-control m-2" type="number" name="startprice" placeholder="From" id="">
                    <input class="form-control m-2" type="number" name="startprice" placeholder="To" id="">
                </div>
                <div class=" m-3">
                    <button class="btn btn-warning ">Search</button>
                </div>

            </ng-template>
        </li>

        <li ngbNavItem>
            <a btn-outline-primary ngbNavLink>Body Style</a>
            <ng-template ngbNavContent>
                <div class="row my-5">
                    <div class="col">
                        <div class="bodycard">
                            <h5 class="titleCard">Van</h5>
                            <img class="imgCard" src="../../../assets/carbody/van.png" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="bodycard">
                            <h5 class="titleCard">Sedan</h5>
                            <img class="imgCard" src="../../../assets/carbody/sedan.png" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="bodycard">
                            <h5 class="titleCard">Hatchback</h5>
                            <img class="imgCard" src="../../../assets/carbody/hatchback.png" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="bodycard">
                            <h5 class="titleCard">Coupe</h5>
                            <img class="imgCard" src="../../../assets/carbody/coupe.png" alt="">
                        </div>
                    </div>

                </div>
                <div class="row my-5">
                    <div class="col">
                        <div class="bodycard">
                            <h5 class="titleCard">Cabriolet</h5>
                            <img class="imgCard" src="../../../assets/carbody/cabriolet.png" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="bodycard">
                            <h5 class="titleCard">SUV</h5>
                            <img class="imgCard" src="../../../assets/carbody/SUV.png" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="bodycard">
                            <h5 class="titleCard">Station</h5>
                            <img class="imgCard" src="../../../assets/carbody/station.png" alt="">
                        </div>
                    </div>
                    <div class="col">
                    </div>

                </div>

            </ng-template>
        </li>
    </ul>
    <div class="row">
        <div class="m-2" [ngbNavOutlet]="nav"></div>

    </div>
</div>