.cardbody {
    border: 1px solid #c5c4c4;
    background-color: #e7e7e7;
    width: 5rem;
    height: 6rem;
    padding: .3rem;
    margin: .5rem;
    transition: width .5s, height .5s, border 2s;
}

.cardbody:hover {
    border: 1px solid #353401;
    background-color: #e7e7e7;
    width: 5.5rem;
    height: 6.5rem;
    padding: .3rem;
    margin: .5rem;
}