.
<div class="container">
    <ul ngbNav #nav="ngbNav" class="nav-pills">
        <li ngbNavItem>
            <a ngbNavLink>Price</a>
            <ng-template ngbNavContent>
                <div class="form-inline m-2 mt-5">
                    <input class="form-control m-2" type="number" name="startprice" placeholder="From" id="">
                    <input class="form-control m-2" type="number" name="startprice" placeholder="To" id="">
                </div>
                <div class=" m-3">
                    <button class="btn btn-warning ">Search</button>
                </div>

            </ng-template>
        </li>
        <li ngbNavItem>
            <a ngbNavLink>Make</a>
            <ng-template ngbNavContent>
                <div class="row my-5">

                    <div class="col">
                        <div class="makecard">
                            <h5 class="makeTitleCard">Alfa Romeo</h5>
                            <img class="makeImgCard" src="../../../assets/Make logo/AlfaRomeo.jpg" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="makecard">
                            <h5 class="makeTitleCard">Aston Martin</h5>
                            <img class="makeImgCard" src="../../../assets/Make logo/AstonMartin.jpg" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="makecard">
                            <h5 class="makeTitleCard">Audi</h5>
                            <img class="makeImgCard" src="../../../assets/Make logo/Audi.jpg" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="makecard">
                            <h5 class="makeTitleCard">BMW</h5>
                            <img class="makeImgCard" src="../../../assets/Make logo/BMW.jpg" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="makecard">
                            <h5 class="makeTitleCard">Brilliance</h5>
                            <img class="makeImgCard" src="../../../assets/Make logo/Brilliance.jpg" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="makecard">
                            <h5 class="makeTitleCard">BYD</h5>
                            <img class="makeImgCard" src="../../../assets/Make logo/BYD.jpg" alt="">
                        </div>
                    </div>

                </div>
                <div class="row my-5">

                    <div class="col">
                        <div class="makecard">
                            <h5 class="makeTitleCard">Changan</h5>
                            <img class="makeImgCard" src="../../../assets/Make logo/Changan.jpg" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="makecard">
                            <h5 class="makeTitleCard">Cherry</h5>
                            <img class="makeImgCard" src="../../../assets/Make logo/Cherry.jpg" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="makecard">
                            <h5 class="makeTitleCard">Chevrolet</h5>
                            <img class="makeImgCard" src="../../../assets/Make logo/Chevrolet.jpg" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="makecard">
                            <h5 class="makeTitleCard">Chrysler</h5>
                            <img class="makeImgCard" src="../../../assets/Make logo/Chrysler.jpg" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="makecard">
                            <h5 class="makeTitleCard">Citroen</h5>
                            <img class="makeImgCard" src="../../../assets/Make logo/Citroen.jpg" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="makecard">
                            <h5 class="makeTitleCard">DS</h5>
                            <img class="makeImgCard" src="../../../assets/Make logo/DS.jpg" alt="">
                        </div>
                    </div>

                </div>
                <div class="row my-5">

                    <div class="col">
                        <div class="makecard">
                            <h5 class="makeTitleCard">Fiat</h5>
                            <img class="makeImgCard" src="../../../assets/Make logo/Fiat.jpg" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="makecard">
                            <h5 class="makeTitleCard">Ford</h5>
                            <img class="makeImgCard" src="../../../assets/Make logo/Ford.jpg" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="makecard">
                            <h5 class="makeTitleCard">Honda</h5>
                            <img class="makeImgCard" src="../../../assets/Make logo/Honda.jpg" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="makecard">
                            <h5 class="makeTitleCard">Hyundai</h5>
                            <img class="makeImgCard" src="../../../assets/Make logo/Hyundai.jpg" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="makecard">
                            <h5 class="makeTitleCard">JAC</h5>
                            <img class="makeImgCard" src="../../../assets/Make logo/JAC.jpg" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="makecard">
                            <h5 class="makeTitleCard">Jaguar</h5>
                            <img class="makeImgCard" src="../../../assets/Make logo/Jaguar.jpg" alt="">
                        </div>
                    </div>

                </div>
                <div class="row my-5">

                    <div class="col">
                        <div class="makecard">
                            <h5 class="makeTitleCard">Jeep</h5>
                            <img class="makeImgCard" src="../../../assets/Make logo/Jeep.jpg" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="makecard">
                            <h5 class="makeTitleCard">Kia</h5>
                            <img class="makeImgCard" src="../../../assets/Make logo/Kia.jpg" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="makecard">
                            <h5 class="makeTitleCard">Lada</h5>
                            <img class="makeImgCard" src="../../../assets/Make logo/Lada.jpg" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="makecard">
                            <h5 class="makeTitleCard">Land Rover</h5>
                            <img class="makeImgCard" src="../../../assets/Make logo/LandRover.jpg" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="makecard">
                            <h5 class="makeTitleCard">Lexus</h5>
                            <img class="makeImgCard" src="../../../assets/Make logo/Lexus.jpg" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="makecard">
                            <h5 class="makeTitleCard">MG</h5>
                            <img class="makeImgCard" src="../../../assets/Make logo/MG.jpg" alt="">
                        </div>
                    </div>

                </div>
                <div class="row my-5">

                    <div class="col">
                        <div class="makecard">
                            <h5 class="makeTitleCard">Maserati</h5>
                            <img class="makeImgCard" src="../../../assets/Make logo/Maserati.jpg" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="makecard">
                            <h5 class="makeTitleCard">Mazda</h5>
                            <img class="makeImgCard" src="../../../assets/Make logo/Mazda.jpg" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="makecard">
                            <h5 class="makeTitleCard">Mercedes</h5>
                            <img class="makeImgCard" src="../../../assets/Make logo/Mercedes.jpg" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="makecard">
                            <h5 class="makeTitleCard">Mini</h5>
                            <img class="makeImgCard" src="../../../assets/Make logo/Mini.jpg" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="makecard">
                            <h5 class="makeTitleCard">Mitsubishi</h5>
                            <img class="makeImgCard" src="../../../assets/Make logo/Mitsubishi.jpg" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="makecard">
                            <h5 class="makeTitleCard">Nissan</h5>
                            <img class="makeImgCard" src="../../../assets/Make logo/Nissan.jpg" alt="">
                        </div>
                    </div>

                </div>
                <div class="row my-5">

                    <div class="col">
                        <div class="makecard">
                            <h5 class="makeTitleCard">Opel</h5>
                            <img class="makeImgCard" src="../../../assets/Make logo/Opel.jpg" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="makecard">
                            <h5 class="makeTitleCard">Peugeot</h5>
                            <img class="makeImgCard" src="../../../assets/Make logo/Peugeot.jpg" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="makecard">
                            <h5 class="makeTitleCard">Poesche</h5>
                            <img class="makeImgCard" src="../../../assets/Make logo/Poesche.jpg" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="makecard">
                            <h5 class="makeTitleCard">Proton</h5>
                            <img class="makeImgCard" src="../../../assets/Make logo/Proton.jpg" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="makecard">
                            <h5 class="makeTitleCard">Range Rover</h5>
                            <img class="makeImgCard" src="../../../assets/Make logo/RangeRover.jpg" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="makecard">
                            <h5 class="makeTitleCard">Renault</h5>
                            <img class="makeImgCard" src="../../../assets/Make logo/Renault.jpg" alt="">
                        </div>
                    </div>

                </div>
                <div class="row my-5">

                    <div class="col">
                        <div class="makecard">
                            <h5 class="makeTitleCard">Seat</h5>
                            <img class="makeImgCard" src="../../../assets/Make logo/Seat.jpg" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="makecard">
                            <h5 class="makeTitleCard">Skoda</h5>
                            <img class="makeImgCard" src="../../../assets/Make logo/Skoda.jpg" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="makecard">
                            <h5 class="makeTitleCard">SsangYong</h5>
                            <img class="makeImgCard" src="../../../assets/Make logo/SsangYong.jpg" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="makecard">
                            <h5 class="makeTitleCard">Subaru</h5>
                            <img class="makeImgCard" src="../../../assets/Make logo/Subaru.jpg" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="makecard">
                            <h5 class="makeTitleCard">Suzuki</h5>
                            <img class="makeImgCard" src="../../../assets/Make logo/Suzuki.jpg" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="makecard">
                            <h5 class="makeTitleCard">Toyota</h5>
                            <img class="makeImgCard" src="../../../assets/Make logo/Toyota.jpg" alt="">
                        </div>
                    </div>

                </div>
                <div class="row my-5">

                    <div class="col">
                        <div class="makecard">
                            <h5 class="makeTitleCard">VolksWagen</h5>
                            <img class="makeImgCard" src="../../../assets/Make logo/VolksWagen.jpg" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="makecard">
                            <h5 class="makeTitleCard">Volvo</h5>
                            <img class="makeImgCard" src="../../../assets/Make logo/Volvo.jpg" alt="">
                        </div>
                    </div>
                    <div class="col">
                    </div>
                    <div class="col">
                    </div>
                    <div class="col">
                    </div>
                    <div class="col">
                    </div>

                </div>
            </ng-template>
        </li>

        <li ngbNavItem>
            <a btn-outline-primary ngbNavLink>Body Style</a>
            <ng-template ngbNavContent>
                <div class="row my-5">
                    <div class="col">
                        <div class="bodycard">
                            <h5 class="titleCard">Van</h5>
                            <img class="imgCard" src="../../../assets/carbody/van.png" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="bodycard">
                            <h5 class="titleCard">Sedan</h5>
                            <img class="imgCard" src="../../../assets/carbody/sedan.png" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="bodycard">
                            <h5 class="titleCard">Hatchback</h5>
                            <img class="imgCard" src="../../../assets/carbody/hatchback.png" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="bodycard">
                            <h5 class="titleCard">Coupe</h5>
                            <img class="imgCard" src="../../../assets/carbody/coupe.png" alt="">
                        </div>
                    </div>

                </div>
                <div class="row my-5">
                    <div class="col">
                        <div class="bodycard">
                            <h5 class="titleCard">Cabriolet</h5>
                            <img class="imgCard" src="../../../assets/carbody/cabriolet.png" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="bodycard">
                            <h5 class="titleCard">SUV</h5>
                            <img class="imgCard" src="../../../assets/carbody/SUV.png" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="bodycard">
                            <h5 class="titleCard">Station</h5>
                            <img class="imgCard" src="../../../assets/carbody/station.png" alt="">
                        </div>
                    </div>
                    <div class="col">
                    </div>

                </div>

            </ng-template>
        </li>
        <li ngbNavItem>
            <a ngbNavLink>Year</a>
            <ng-template ngbNavContent>

                <div class="form-inline m-2 mt-5">
                    <input class="form-control m-2" type="number" name="startprice" placeholder="Year" id="">
                </div>
                <div class=" m-3">
                    <button class="btn btn-warning ">Search</button>
                </div>
            </ng-template>
        </li>
    </ul>
    <div class="row">
        <div class="m-2" [ngbNavOutlet]="nav"></div>

    </div>
</div>