<p class="text-center my-4">Featured Cars</p>
<div class="container">
    <div class="card-group my-4">

        <div class="card mr-4">
            
                <img class="card-img-top" src="../../assets/9.jpg" alt="Card image cap">
                <button type="button" class="btn btn-secondary btn-lg d-none">Read More</button>
            
          <div class="card-body">
            <h5 class="card-title c1">Ferrari Enzo</h5>
            <h5 class="card-title c2">Super Car</h5>
            <div class="row my-2">
                <div class="col-lg col-md-6">
                    <div class="card-text">
                        <i class="fa fa-tint mr-1"></i>
                        <p class="d-inline">Petrol</p>
                    </div>
                </div>
                <div class="col-lg col-md-6">
                    <div class="card-text">
                        <i class="fa fa-road mr-1"></i>
                        <p class="d-inline">4000 km</p>
                    </div>
                </div>
                <div class="col-lg col-md-6">
                    <div class="card-text">
                        <i class="fa fa-car mr-1"></i>
                        <p class="d-inline">Manual</p>
                    </div>
                </div>
                </div>
                <div class="row my-2">
                    <div class="col-lg col-md-6">
                        <div class="card-text">
                            <i class="fa fa-question-circle mr-1"></i>
                            <p class="d-inline">For sale</p>
                        </div>
                    </div>
                    <div class="col-lg col-md-6">
                        <div class="card-text">
                            <i class="fa fa-cc-visa mr-1"></i>
                            <p class="d-inline">1050.00 $</p>
                        </div>
                    </div>
                    <div class="col-lg col-md-6">
                        <div class="card-text">
                            <i class="fa fa-calendar mr-1"></i>
                            <p class="d-inline">2019</p>
                        </div>
                    </div>
              </div>
          </div>

          <div class="card-footer">
            <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                <p class="d-inline ml-2">(65 Reviews)</p>
                <a href="#" class="d-block my-2">Read More !</a>
          </div>
        </div>


        <div class="card mr-4">

            <img class="card-img-top" src="../../assets/10.jpg" alt="Card image cap">
  
            <div class="card-body">
              <h5 class="card-title c1">Porsche Carrera GT</h5>
              <h5 class="card-title c2">Super Car</h5>
              <div class="row my-2">
                  <div class="col-lg col-md-6">
                      <div class="card-text">
                          <i class="fa fa-tint mr-1"></i>
                          <p class="d-inline">Petrol</p>
                      </div>
                  </div>
                  <div class="col-lg col-md-6">
                      <div class="card-text">
                          <i class="fa fa-road mr-1"></i>
                          <p class="d-inline">3000 km</p>
                      </div>
                  </div>
                  <div class="col-lg col-md-6">
                      <div class="card-text">
                          <i class="fa fa-car mr-1"></i>
                          <p class="d-inline">Manual</p>
                      </div>
                  </div>
                  </div>
                  <div class="row my-2">
                      <div class="col-lg col-md-6">
                        <div class="card-text">
                            <i class="fa fa-question-circle mr-1"></i>
                            <p class="d-inline">For sale</p>
                        </div>
                      </div>
                      <div class="col-lg col-md-6">
                        <div class="card-text">
                            <i class="fa fa-cc-visa mr-1"></i>
                            <p class="d-inline">780.00 $</p>
                        </div>
                      </div>
                      <div class="col-lg col-md-6">
                          <div class="card-text">
                              <i class="fa fa-calendar mr-1"></i>
                              <p class="d-inline">2019</p>
                          </div>
                      </div>
                </div>
            </div>
  
            <div class="card-footer">
              <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                  <p class="d-inline ml-2">(72 Reviews)</p>
                  <a href="#" class="d-block my-2">Read More !</a>
            </div>
          </div>


          <div class="card mr-4">

            <img class="card-img-top" src="../../assets/11.jpg" alt="Card image cap">
  
            <div class="card-body">
              <h5 class="card-title c1">Aston Martin One-77</h5>
              <h5 class="card-title c2">Super Car</h5>
              <div class="row my-2">
                  <div class="col-lg col-md-6">
                      <div class="card-text">
                          <i class="fa fa-tint mr-1"></i>
                          <p class="d-inline">Petrol</p>
                      </div>
                  </div>
                  <div class="col-lg col-md-6">
                      <div class="card-text">
                          <i class="fa fa-road mr-1"></i>
                          <p class="d-inline">4000 km</p>
                      </div>
                  </div>
                  <div class="col-lg col-md-6">
                      <div class="card-text">
                          <i class="fa fa-car mr-1"></i>
                          <p class="d-inline">Manual</p>
                      </div>
                  </div>
                  </div>
                  <div class="row my-2">
                      <div class="col-lg col-md-6">
                        <div class="card-text">
                            <i class="fa fa-question-circle mr-1"></i>
                            <p class="d-inline">For sale</p>
                        </div>
                      </div>
                      <div class="col-lg col-md-6">
                        <div class="card-text">
                            <i class="fa fa-cc-visa mr-1"></i>
                            <p class="d-inline">940.00 $</p>
                        </div>
                      </div>
                      <div class="col-lg col-md-6">
                          <div class="card-text">
                              <i class="fa fa-calendar mr-1"></i>
                              <p class="d-inline">2019</p>
                          </div>
                      </div>
                </div>
            </div>
  
            <div class="card-footer">
              <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                  <p class="d-inline ml-2">(90 Reviews)</p>
                  <a href="#" class="d-block my-2">Read More !</a>
            </div>
          </div>


      </div>


      <div class="card-group my-4">

        <div class="card mr-4">
            
                <img class="card-img-top" src="../../assets/12.jpeg" alt="Card image cap">
                <button type="button" class="btn btn-secondary btn-lg d-none">Read More</button>
            
          <div class="card-body">
            <h5 class="card-title c1">Maserati Quattroporte</h5>
            <h5 class="card-title c2">Luxury</h5>
            <div class="row my-2">
                <div class="col-lg col-md-6">
                    <div class="card-text">
                        <i class="fa fa-tint mr-1"></i>
                        <p class="d-inline">Petrol</p>
                    </div>
                </div>
                <div class="col-lg col-md-6">
                    <div class="card-text">
                        <i class="fa fa-road mr-1"></i>
                        <p class="d-inline">5000 km</p>
                    </div>
                </div>
                <div class="col-lg col-md-6">
                    <div class="card-text">
                        <i class="fa fa-car mr-1"></i>
                        <p class="d-inline">Manual</p>
                    </div>
                </div>
                </div>
                <div class="row my-2">
                    <div class="col-lg col-md-6">
                        <div class="card-text">
                            <i class="fa fa-question-circle mr-1"></i>
                            <p class="d-inline">For sale</p>
                        </div>
                    </div>
                    <div class="col-lg col-md-6">
                        <div class="card-text">
                            <i class="fa fa-cc-visa mr-1"></i>
                            <p class="d-inline">1200.00 $</p>
                        </div>
                    </div>
                    <div class="col-lg col-md-6">
                        <div class="card-text">
                            <i class="fa fa-calendar mr-1"></i>
                            <p class="d-inline">2016</p>
                        </div>
                    </div>
              </div>
          </div>

          <div class="card-footer">
            <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                <p class="d-inline ml-2">(71 Reviews)</p>
                <a href="#" class="d-block my-2">Read More !</a>
          </div>
        </div>


        <div class="card mr-4">

            <img class="card-img-top" src="../../assets/13.jpeg" alt="Card image cap">
  
            <div class="card-body">
              <h5 class="card-title c1">Lexus LS</h5>
              <h5 class="card-title c2">Luxury</h5>
              <div class="row my-2">
                  <div class="col-lg col-md-6">
                      <div class="card-text">
                          <i class="fa fa-tint mr-1"></i>
                          <p class="d-inline">Petrol</p>
                      </div>
                  </div>
                  <div class="col-lg col-md-6">
                      <div class="card-text">
                          <i class="fa fa-road mr-1"></i>
                          <p class="d-inline">3000 km</p>
                      </div>
                  </div>
                  <div class="col-lg col-md-6">
                      <div class="card-text">
                          <i class="fa fa-car mr-1"></i>
                          <p class="d-inline">Manual</p>
                      </div>
                  </div>
                  </div>
                  <div class="row my-2">
                      <div class="col-lg col-md-6">
                        <div class="card-text">
                            <i class="fa fa-question-circle mr-1"></i>
                            <p class="d-inline">For sale</p>
                        </div>
                      </div>
                      <div class="col-lg col-md-6">
                        <div class="card-text">
                            <i class="fa fa-cc-visa mr-1"></i>
                            <p class="d-inline">700.00 $</p>
                        </div>
                      </div>
                      <div class="col-lg col-md-6">
                          <div class="card-text">
                              <i class="fa fa-calendar mr-1"></i>
                              <p class="d-inline">2018</p>
                          </div>
                      </div>
                </div>
            </div>
  
            <div class="card-footer">
              <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                  <p class="d-inline ml-2">(72 Reviews)</p>
                  <a href="#" class="d-block my-2">Read More !</a>
            </div>
          </div>


          <div class="card mr-4">

            <img class="card-img-top" src="../../assets/14.jpeg" alt="Card image cap">
  
            <div class="card-body">
              <h5 class="card-title c1">Mercedes-Benz S-Class</h5>
              <h5 class="card-title c2">Luxury</h5>
              <div class="row my-2">
                  <div class="col-lg col-md-6">
                      <div class="card-text">
                          <i class="fa fa-tint mr-1"></i>
                          <p class="d-inline">Petrol</p>
                      </div>
                  </div>
                  <div class="col-lg col-md-6">
                      <div class="card-text">
                          <i class="fa fa-road mr-1"></i>
                          <p class="d-inline">4000 km</p>
                      </div>
                  </div>
                  <div class="col-lg col-md-6">
                      <div class="card-text">
                          <i class="fa fa-car mr-1"></i>
                          <p class="d-inline">Manual</p>
                      </div>
                  </div>
                  </div>
                  <div class="row my-2">
                      <div class="col-lg col-md-6">
                        <div class="card-text">
                            <i class="fa fa-question-circle mr-1"></i>
                            <p class="d-inline">For sale</p>
                        </div>
                      </div>
                      <div class="col-lg col-md-6">
                        <div class="card-text">
                            <i class="fa fa-cc-visa mr-1"></i>
                            <p class="d-inline">850.00 $</p>
                        </div>
                      </div>
                      <div class="col-lg col-md-6">
                          <div class="card-text">
                              <i class="fa fa-calendar mr-1"></i>
                              <p class="d-inline">2019</p>
                          </div>
                      </div>
                </div>
            </div>
  
            <div class="card-footer">
              <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                  <p class="d-inline ml-2">(61 Reviews)</p>
                  <a href="#" class="d-block my-2">Read More !</a>
            </div>
          </div>


      </div>


<!--------------------------------------------لسة اخر 3------------------------------------------->
      <div class="card-group my-4">

        <div class="card mr-4">
            
                <img class="card-img-top" src="../../assets/12.jpeg" alt="Card image cap">
                <button type="button" class="btn btn-secondary btn-lg d-none">Read More</button>
            
          <div class="card-body">
            <h5 class="card-title c1">Volkswagen Scirocco</h5>
            <h5 class="card-title c2">New car / Automatic / Sport</h5>
            <div class="row my-2">
                <div class="col-lg col-md-6">
                    <div class="card-text">
                        <i class="fa fa-tint mr-1"></i>
                        <p class="d-inline">Petrol</p>
                    </div>
                </div>
                <div class="col-lg col-md-6">
                    <div class="card-text">
                        <i class="fa fa-road mr-1"></i>
                        <p class="d-inline">5000 km</p>
                    </div>
                </div>
                <div class="col-lg col-md-6">
                    <div class="card-text">
                        <i class="fa fa-car mr-1"></i>
                        <p class="d-inline">Manual</p>
                    </div>
                </div>
                </div>
                <div class="row my-2">
                    <div class="col-lg col-md-6">
                        <div class="card-text">
                            <i class="fa fa-question-circle mr-1"></i>
                            <p class="d-inline">For sale</p>
                        </div>
                    </div>
                    <div class="col-lg col-md-6">
                        <div class="card-text">
                            <i class="fa fa-cc-visa mr-1"></i>
                            <p class="d-inline">1200.00 $</p>
                        </div>
                    </div>
                    <div class="col-lg col-md-6">
                        <div class="card-text">
                            <i class="fa fa-calendar mr-1"></i>
                            <p class="d-inline">2016</p>
                        </div>
                    </div>
              </div>
          </div>

          <div class="card-footer">
            <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                <p class="d-inline ml-2">(71 Reviews)</p>
                <a href="#" class="d-block my-2">Read More !</a>
          </div>
        </div>


        <div class="card mr-4">

            <img class="card-img-top" src="../../assets/13.jpeg" alt="Card image cap">
  
            <div class="card-body">
              <h5 class="card-title c1">Porsche Cayen Last</h5>
              <h5 class="card-title c2">New car / Automatic / Sport</h5>
              <div class="row my-2">
                  <div class="col-lg col-md-6">
                      <div class="card-text">
                          <i class="fa fa-tint mr-1"></i>
                          <p class="d-inline">Petrol</p>
                      </div>
                  </div>
                  <div class="col-lg col-md-6">
                      <div class="card-text">
                          <i class="fa fa-road mr-1"></i>
                          <p class="d-inline">3000 km</p>
                      </div>
                  </div>
                  <div class="col-lg col-md-6">
                      <div class="card-text">
                          <i class="fa fa-car mr-1"></i>
                          <p class="d-inline">Manual</p>
                      </div>
                  </div>
                  </div>
                  <div class="row my-2">
                      <div class="col-lg col-md-6">
                        <div class="card-text">
                            <i class="fa fa-question-circle mr-1"></i>
                            <p class="d-inline">For sale</p>
                        </div>
                      </div>
                      <div class="col-lg col-md-6">
                        <div class="card-text">
                            <i class="fa fa-cc-visa mr-1"></i>
                            <p class="d-inline">700.00 $</p>
                        </div>
                      </div>
                      <div class="col-lg col-md-6">
                          <div class="card-text">
                              <i class="fa fa-calendar mr-1"></i>
                              <p class="d-inline">2018</p>
                          </div>
                      </div>
                </div>
            </div>
  
            <div class="card-footer">
              <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                  <p class="d-inline ml-2">(72 Reviews)</p>
                  <a href="#" class="d-block my-2">Read More !</a>
            </div>
          </div>


          <div class="card mr-4">

            <img class="card-img-top" src="../../assets/14.jpeg" alt="Card image cap">
  
            <div class="card-body">
              <h5 class="card-title c1">Lexus GS F</h5>
              <h5 class="card-title c2">New car / Automatic / Sport</h5>
              <div class="row my-2">
                  <div class="col-lg col-md-6">
                      <div class="card-text">
                          <i class="fa fa-tint mr-1"></i>
                          <p class="d-inline">Petrol</p>
                      </div>
                  </div>
                  <div class="col-lg col-md-6">
                      <div class="card-text">
                          <i class="fa fa-road mr-1"></i>
                          <p class="d-inline">4000 km</p>
                      </div>
                  </div>
                  <div class="col-lg col-md-6">
                      <div class="card-text">
                          <i class="fa fa-car mr-1"></i>
                          <p class="d-inline">Manual</p>
                      </div>
                  </div>
                  </div>
                  <div class="row my-2">
                      <div class="col-lg col-md-6">
                        <div class="card-text">
                            <i class="fa fa-question-circle mr-1"></i>
                            <p class="d-inline">For sale</p>
                        </div>
                      </div>
                      <div class="col-lg col-md-6">
                        <div class="card-text">
                            <i class="fa fa-cc-visa mr-1"></i>
                            <p class="d-inline">850.00 $</p>
                        </div>
                      </div>
                      <div class="col-lg col-md-6">
                          <div class="card-text">
                              <i class="fa fa-calendar mr-1"></i>
                              <p class="d-inline">2019</p>
                          </div>
                      </div>
                </div>
            </div>
  
            <div class="card-footer">
              <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                  <p class="d-inline ml-2">(61 Reviews)</p>
                  <a href="#" class="d-block my-2">Read More !</a>
            </div>
          </div>


      </div>
</div>
