.text-center{
    text-transform: uppercase;
    font-size: 40px;
    font-family:changa one;
    color: #383737;
}
.card{
    border: 2px solid #858383 !important;
    border-radius: 10px !important;
}
.card-text{
    display: inline !important;
}
i, .c1, a{
    color:#FFB400;
}
p, .c2{
    color: #464343;
}
img{
    border-radius: 10px !important;
}
.card-img-top{
    position: relative;
}
button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
img:hover{
    opacity: 80%;
}
a:hover{
    text-decoration: underline solid #FFB400;
}