<div class="container">
  <div class="row mb-3 mt-3">
    <div class="search col-md-2">
      <div class="tabs">
        <span><a href="#">New</a> </span><span><a href="#">Used</a></span>
      </div>
      <div class="brand pt-4 pl-2">
        <select #brandSelect (change)="brandSelectChanged(brandSelect.value)">
          <option value="0" disabled selected>Make</option>
          <option *ngFor="let brand of brands" [value]="brand.id">
            {{ brand.name }}
          </option>
        </select>
      </div>

      <div class="brand pt-4 pl-2">
        <select #yearSelect (change)="yearSelectChanged(yearSelect.value)">
          <option value="0" selected>All Years</option>
          <option *ngFor="let year of years" [value]="year">{{ year }}</option>
        </select>
      </div>

      <div class="brand pt-4 pl-2">
        <select #modelSelect (change)="modelSelectChanged(modelSelect.value)">
          <option value="0" disabled selected>Model</option>
          <option *ngFor="let model of models" [value]="model.id">
            {{ model.name }}
          </option>
        </select>
      </div>

      <div class="brand pt-4 pl-2">
        <select>
          <option value="0" disabled selected>BodyStyle</option>
          <option *ngFor="let type of types" [value]="type.id">
            {{ type.name }}
          </option>
        </select>
      </div>

      <div class="brand pt-4 pl-2 price">
        <input
          [(ngModel)]="filters.minprice"
          type="number"
          class="from"
          placeholder="From"
        />
        <input
          [(ngModel)]="filters.maxprice"
          type="number"
          class="to"
          placeholder="To"
        />
      </div>

      <div class="form-group clearfix mt-4">
        <button
          (click)="sendFilters()"
          type="submit"
          class="btn-md btn-theme float-left"
        >
          search
        </button>
      </div>
    </div>
    <div class="col-md-10">
      <div *ngFor="let car of cars" class="card cards" style="width: 16rem">
        <img
          class="card-img-top"
          style="height: 8rem"
          src="assets/CarsImages/{{ car.img }}"
          alt="car"
        />
        <div class="card-body">
          <h5 class="card-title">{{ car.brand }}</h5>
          <p class="card-text">{{ car.model }}</p>
          <p class="card-text">{{ car.price }}</p>

          <a href="#" class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>
  </div>
</div>
