<div class="container">
    <div class="row mb-3 mt-3">
      <div class="search col-md-2">
        
        <div class="tabs">
           <span><a href="#">Used</a></span>
        </div>
        <div class="brand pt-4 pl-2">
          <select>
            <option value="0" disabled selected>Make</option>
        
          </select>
        </div>
  
        <div class="brand pt-4 pl-2">
          <select>
            <option value="0" selected>All Years</option>
            
          </select>
        </div>
  
        <div class="brand pt-4 pl-2">
          <select>
            <option value="0"  disabled selected>Model</option>
          </select>
        </div>
  
        <div class="brand pt-4 pl-2">
          <select>
            <option value="0" disabled selected>BodyStyle</option>
           
          </select>
        </div>
        <div class="brand pt-4 pl-2 price">
            <input
              type="number"
              class="from"
              placeholder="From"
            />
            <input
              type="number"
              class="to"
              placeholder="To"
            />
          </div>
    
          <div class="form-group clearfix mt-4">
            <button
              type="submit"
              class="btn-md btn-theme float-left"
            >
              search
            </button>
          </div>
        </div>
       
  <div class="col-md-10">
    <div class="card cards" style="width: 16rem">
      <img
        class="card-img-top"
        style="height: 8rem"
        src=""
        alt="car"
      />
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
        <p class="card-text"></p>

        <a href="#" class="btn btn-primary">Details</a>
      </div>
    </div>
    </div>
  
