<div class="container">
    <p class="text-center py-4">Latest Offers</p>
    <div class="row">
        
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-12 mb-4 hover">
                    <img src="../../assets/4.jpg" class="w-100 h-100">
                    <button class="btn">New</button>
                    <div class="text-block">
                        <h6><span>12000</span> LE / month</h6>
                        <h4>Toyota Prius</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-4 hover">
                    <img src="../../assets/5.jpg" class="w-100 h-100">
                    <button class="btn">New</button>
                    <div class="text-block">
                        <h6><span>15000</span> LE / month</h6>
                        <h4>Lamborghini Huracan</h4>
                    </div>
                </div>
                <div class="col-md-6 mb-4 hover">
                    <img src="../../assets/6.jpg" class="w-100 h-100">
                    <button class="btn">New</button>
                    <div class="text-block bottom-right">
                        <h6><span>19000</span> LE / month</h6>
                        <h4>Lamborghini</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5 mb-4 hover">
            <img src="../../assets/7.jpg" class="w-100 h-100">
            <button class="btn">New</button>
            <div class="text-block">
                <h6><span>9000</span> LE / month</h6>
                <h4>Ferrari car</h4>
            </div>
        </div>
    </div>
</div>
