.
<div class="container">
  <ul ngbNav #nav="ngbNav" class="nav-pills">
    <li ngbNavItem>
      <a ngbNavLink>Price</a>
      <ng-template ngbNavContent>
        <div class="form-inline m-2 mt-5">
          <input
            class="form-control m-2"
            type="number"
            name="startprice"
            placeholder="From"
            id=""
          />
          <input
            class="form-control m-2"
            type="number"
            name="startprice"
            placeholder="To"
            id=""
          />
        </div>
        <div class="m-3">
          <button class="btn btn-warning">Search</button>
        </div>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Make</a>
      <ng-template ngbNavContent>
        <div class="row my-3">
          <div *ngFor="let brand of brands">
            <div class="col my-2">
              <a [routerLink]="['/search']" [queryParams]="{ brand: brand.id }">
                <div class="makecard">
                  <h5 class="makeTitleCard">{{ brand.name }}</h5>
                  <img
                    class="makeImgCard"
                    src="assets/Make logo/{{ brand.icon }}"
                    alt=""
                  />
                </div>
              </a>
            </div>
          </div>
        </div>
      </ng-template>
    </li>

    <li ngbNavItem>
      <a btn-outline-primary ngbNavLink>Body Style</a>
      <ng-template ngbNavContent>
        <div class="row my-3">
          <div *ngFor="let type of types">
            <div class="col my-2">
              <a [routerLink]="['/search']" [queryParams]="{ body: type.id }">
              <div class="bodycard">
                <h5 class="titleCard">{{ type.name }}</h5>
                <img
                  class="imgCard"
                  src="/assets/carbody/{{ type.icon }}"
                  alt=""
                />
              </div>
            </a>
            </div>
          </div>
        </div>
      </ng-template>
    </li>
  </ul>
  <div class="row">
    <div class="m-2" [ngbNavOutlet]="nav"></div>
  </div>
</div>
