<div class="container mb-5">
  <div class="row">
    <div class="col-6 my-5">
      <div><img class="im" src="../../../assets/sug.jpg" alt="" /></div>
    </div>
    <div class="col-6" dir="rtl">
      <div class="m-5">
        <h3>نقترح عليك السيارة المناسبة لإحتاجك</h3>
      </div>
      <form class="my-5" action="" [formGroup]="f">
        <div class="form-group m-4">
          <label class="m-1 labe" for=" ">الفئة السعرية</label>
          <select
            class="m-1 form-control"
            name=" "
            id=" "
            formControlName="q1"
            [class.is-invalid]="q1.invalid && q1.touched"
          >
            <option disabled selected value="-1"></option>

            <option value="1">تحت 100 ألف</option>
            <option value="2">من 100 ألف الي 200 ألف</option>
            <option value="3">من 200 ألف الي 300 ألف</option>
            <option value="4">من 300 ألف الي 400 ألف</option>
            <option value="5">من 400 ألف الي 500 ألف</option>
            <option value="6">من 500 ألف الي 600 ألف</option>
            <option value="7">من 600 ألف الي 700 ألف</option>
            <option value="8">من 700 ألف الي 1 مليون</option>
            <option value="9">أكثر من 1 مليون</option>
          </select>
          <small class="text-danger labe" *ngIf="q1.invalid && q1.touched"
            >إختر الفئة السعرية</small
          >
        </div>
        <div class="form-group m-4">
          <label class="m-1 labe" for=" ">حالة السيارة</label>
          <select
            class="m-1 form-control"
            name=" "
            id=" "
            formControlName="q2"
            [class.is-invalid]="q2.invalid && q2.touched"
          >
            <option disabled selected value="-1"></option>

            <option value="1">جديدة</option>
            <option value="2">مستعملة</option>
          </select>
          <small class="text-danger labe" *ngIf="q2.invalid && q2.touched"
            >إختر حالة السيارة</small
          >
        </div>
        <div class="form-group m-4">
          <label class="m-1 labe" for=" ">إستخدام السيارة </label>
          <select
            class="m-1 form-control"
            name=" "
            id=" "
            formControlName="q3"
            [class.is-invalid]="q3.invalid && q3.touched"
          >
            <option disabled selected value="-1"></option>

            <option value="1">
              إستخدام في العمل (أوبر - كريم - مكاتب تأجير)
            </option>
            <option value="2">إستخدام عائلة</option>
            <option value="3">إستخدام شباب (فرد)</option>
          </select>
          <small class="text-danger labe" *ngIf="q3.invalid && q3.touched"
            >إختر إستخدام السيارة</small
          >
        </div>
        <div class="form-group m-4">
          <label class="m-1 labe" for=" ">مميزات الأساسية للسيارة </label>
          <select
            class="m-1 form-control"
            name=" "
            id=" "
            formControlName="q4"
            [class.is-invalid]="q4.invalid && q4.touched"
          >
            <option disabled selected value="-1"></option>

            <option value="1">
              سيارة اقتصادية (قليلة في استهلاك البنزين و أرخص قطع غيار)
            </option>
            <option value="2">سيارة رياضية ( أعلى سرعة و معدل تسارع )</option>
          </select>
          <small class="text-danger labe" *ngIf="q4.invalid && q4.touched"
            >إختر مميزات الأساسية للسيارة</small
          >
        </div>
        <div class="form-group m-4">
          <label class="m-1 labe" for=" ">أنواع الطرق الأكثر إستخدام </label>
          <select
            class="m-1 form-control"
            name=" "
            id=" "
            formControlName="q5"
            [class.is-invalid]="q5.invalid && q5.touched"
          >
            <option disabled selected value="-1"></option>

            <option value="1">طرق مسفلتة</option>
            <option value="2">طرق رملية</option>
            <option value="3">طرق طينية</option>
            <option value="4">طرق مسفلتة غير ممهدة جيدا</option>
          </select>
          <small class="text-danger labe" *ngIf="q5.invalid && q5.touched"
            >إختر نوع الطرق
          </small>
        </div>
        <div class="mb-5">
          <input
            class="m-1 btn btn-success button-control"
            (click)="open(content)"
            [disabled]="f.invalid"
            type="submit "
            value="إقتراح "
          />
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">Our Suggestions For You</span>
    </button>
  </div>
  <div class="modal-body">
   <!--<div
      *ngFor="let car of suggestionResult"
      class="card mb-3"
      style="max-width: 540px"
    >
      <div class="row no-gutters">
        <div class="col-md-4">
          <img
            src="/assets/CarsImages/{{ car.img }}"
            class="w-100 h-100"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ car.brand }} {{ car.model }}</h5>
            <p class="card-text">{{ car.className }}</p>
            <p class="card-text">{{ car.price }}</p>
            <p class="card-text">
              <button>
                <a
                  href="#"
                  class="d-block py-2 px-2"
                  [routerLink]="['/car-details']"
                  [queryParams]="{ id: car.carDetailsID }"
                  >More Details</a
                >
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>-->

    <div class="card my-3 mr-3 results" style="max-width: 540px">
      <div class="row no-gutters">
          <div class="col-md-5">
            <img
              src="/assets/CarsImages/{{ car.img }}"
              alt="..."
              class="w-100 h-100"
            />
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <div class="row">
                <div class="col-10">
                  <h5 class="card-title c1">{{ car.brand }} {{ car.model }}</h5>
                  <h5 class="card-title c2">{{ car.className }}</h5>
                  <i class="fa fa-cc-visa mr-1 mb-2"></i>
                  <h5 class="c2 d-inline mb-2">{{ car.price }}</h5><br>
                  <button
          type="submit"
          class="btn btn-warning my-3"
          [routerLink]="['/car-details']"
          [queryParams]="{ id: car.carDetailsID }"
        >
        More Details
        </button>
                </div>
                
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="d('Save click')"
    >
      Close
    </button>
  </div>
</ng-template>
