<div class="container mb-5">
    <div class="row">
        <div class="col-6 my-5 ">
            <div><img class="im" src="../../../assets/sug.jpg" alt=""></div>
        </div>
        <div class="col-6" dir="rtl">
            <div class="m-5">
                <h3>نقترح عليك السيارة المناسبة لإحتاجك</h3>
            </div>
            <form class="my-5" action="">
                <div class="form-group m-4">
                    <label class="m-1 labe" for="">الفئة السعرية</label>
                    <select class="m-1 form-control" name="" id="">
                        <option disabled selected value>  </option>

                    <option value="">تحت 100 ألف</option>
                    <option value="">من 100 ألف الي 200 ألف</option>
                    <option value="">من 200 ألف الي 300 ألف</option>
                    <option value="">من 300 ألف الي 400 ألف</option>
                    <option value="">من 400 ألف الي 500 ألف</option>
                    <option value="">من 500 ألف الي 600 ألف</option>
                    <option value="">من 600 ألف الي 700 ألف</option>
                    <option value="">من 700 ألف الي 1 مليون</option>

                </select>
                </div>
                <div class="form-group m-4">
                    <label class="m-1 labe" for="">حالة السيارة</label>
                    <select class="m-1 form-control" name="" id="">
                        <option disabled selected value>  </option>

                    <option value="">جديدة</option>
                    <option value="">مستعملة</option>
                  

                </select>
                </div>
                <div class="form-group m-4">
                    <label class="m-1 labe" for="">إستخدام السيارة                    </label>
                    <select class="m-1 form-control" name="" id="">
                        <option disabled selected value>  </option>

                    <option value="">إستخدام في العمل (أوبر - كريم - مكاتب تأجير)</option>
                    <option value=""> إستخدام عائلة</option>
                    <option value=""> إستخدام شباب (فرد)</option>

                  

                </select>
                </div>
                <div class="form-group m-4">
                    <label class="m-1 labe" for="">مميزات الأساسية للسيارة </label>
                    <select class="m-1 form-control" name="" id="">
                        <option disabled selected value>  </option>

                    <option value="">سيارة اقتصادية (قليلة في استهلاك البنزين و أرخص قطع غيار)</option>
                    <option value="">  سيارة رياضية ( أعلى سرعة و معدل تسارع )</option>
                    <option value=""> سيارة حديثة (مدموج بها سنسورات حديثة ووسائل راحة متقدمة )</option>
                    <option value=""> سيارة متزنة (تجمع بين متوسط كل المميزات )</option>

                  

                </select>
                </div>
                <div class="form-group m-4">
                    <label class="m-1 labe" for="">أنواع الطرق الأكثر إستخدام 
                    </label>
                    <select class="m-1 form-control" name="" id="">
                        <option disabled selected value>  </option>

                    <option value="">طرق مسفلتة</option>
                    <option value="">  طرق رملية</option>
                    <option value=""> طرق طينية</option>
                    <option value=""> طرق مسفلتة غير ممهدة جيدا  </option>

                  

                </select>
                </div>
                <div class="form-group m-4">
                    <label class="m-1 labe" for="">نوع السيارة

                    </label>
                    <select class="m-1 form-control" name="" id="">
                    <option disabled selected value>  </option>
                    <option value="">بنزين</option>
                    <option value="">  كهرباء</option>
                    <option value=""> هجين</option>
                    <option value=""> غاز
                    </option>

                  

                </select>

                </div>
                <div class="form-group m-4">
                    <label class="m-1 labe" for="">نوع الجير (الفتيس)
                    </label>
                    <select class="m-1 form-control" name="" id="">
                        <option disabled selected value>  </option>
                        <option value="">مانيوال</option>
                         <option value="">أوتوماتيك</option>

                      </select>
                </div>
                <div class="mb-5">
                    <input class="btn btn-success mx-auto" type="submit" value="إقتراح">
                </div>
            </form>
        </div>
    </div>
</div>